
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/VarelaRoundRegular.ttf"); font-family : "Varela Round"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RalewayRomanExtraBold.ttf"); font-family : "Raleway"; font-weight : 800;  }